@charset "utf-8";
/* CSS Document */

#clonediv { padding:0 10px;}
#clonediv.pro { margin-bottom:20px;}
.title { font-size:13px; font-weight:700; line-height:1.5; color:#333;}
.summery { font-size:12px; line-height:1.4em; color:#333;}
.score { font-size:13px; line-height:1.4em; color:red;}
.starttime { font-size:13px; line-height:1.4em; color:#804040;}
.btn input { background:#f60; border:none; width:100px; height:40px; font-size:1rem; color:#fff; border-radius:3px; text-overflow:ellipsis;}
.money { font-size:12px; color:#ccc; line-height:2em; }
.money span { text-decoration: line-through;}
.money b{ text-decoration:none; font-size:14px; color:#ff0000;}
div.pic { width:50%; overflow:hidden;}
div.pic img { vertical-align:middle; border:0px; font-size:0px; width:148px; height:148px;}
div.info { margin-left:10px; width:46%;}