@charset "utf-8";
/* CSS Document */

.block { padding:10px;}
.block h1 { font-size:18px; font-weight:bold; color:#333; line-height:2rem; border-bottom:1px #ccc solid; border-top:1px #ccc solid;}
.block p { font-size:14px; line-height:1.4rem; color:#404040; margin:10px 0px; text-indent:2em;}